.placeholder {
    min-height: 20px;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: scrobbler;
    animation-timing-function: linear;
    background: linear-gradient(to right, var(--placeholder-from) 8%, var(--placeholder-to) 18%, var(--placeholder-from) 33%);
    background-size: 500% 100%;
    overflow: hidden;
    border-radius: 0.5em;
}

@keyframes scrobbler {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -50% 0;
    }
}